<!-- ジャンル名の更新-->
<%= render 'shared/header' %>

<div class="body-content">
  <div class="container-fluid">
    <h2 class="h2">ジャンルの追加</h2>
    <div class="main-top">
      <table class="table">
        <tbody>
          <%= form_for(@genre) do |f| %>
              <div class="field row">
                <tr>
                  <td><%= f.label :genre_name, "ジャンル名" %></td>
                  <td><%= f.text_field :genre_name %></td>
                </tr>
              </div>
              <div class="actions row">
                <tr>
                  <td><%= f.submit '更新', class:"btn btn-info btn-xs" %></td>
                </tr>
              </div>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "戻る", genres_path %>
    </div>
  </div>
</div>