<%= render 'shared/header' %>
<div class="body-content">
  <h2 class="h2">パスワードの変更</h2>
  <div class="body-box">

    <div class="pass-blue-box">
      <div class="pass-blue-content">
        <p class="pass-info">パスワード変更後はログイン画面に移動します。<br>再度、ログインしてください。</p>
      </div>
    </div>

    <%= form_for(@admin) do |f| %>
      <div class="field pass-field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "password", class: "regist-box" %>
      </div>
      <div class="field pass-field">
        <%= f.label :password_confirmation, "パスワード再確認" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "regist-box" %>
      </div>
      <div class="actions pass-action">
        <%= f.submit "更新", class:"btn btn-info btn-lg btn-block" %>
      </div>
    <% end %>
      </div>
</div>
<%= render 'shared/footer' %>
