<!-- 管理者情報の編集 -->
<%= render 'shared/header' %>

<div class="body-content">
  <div class="container-fluid main-content">
    <h2 class="h2">管理者ページ</h2>
    <div class="user-info">
      <h3 class="h3">会員情報</h3>
      <%= form_for(@admin) do |f| %>
  

          <div class="field">
            <%= f.label :name, "名前" %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "regist-box" %>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "regist-box" %>
          </div>


          <div class="field">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "regist-box" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "パスワード再確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "regist-box" %>
          </div>


          <div class="actions">
            <%= f.submit "更新", class:"btn btn-info btn-lg btn-block" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>