<%= render 'shared/header' %>
<div class="body-content">
  <div class="body-box">

  <h2 class="h2-box"><%= resource_name.to_s.humanize %>管理者ページ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "regist-box" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "regist-box" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "パスワード" %> <i>(パスワードを変更しない場合は空欄のまま更新してください)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "regist-box" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード再確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "regist-box" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %> <i>(変更を更新するために現在のパスワードを入力してください)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "regist-box" %>
  </div>

  <div class="actions">
    <%= f.submit "更新", class:"btn btn-info btn-lg btn-block" %>
  </div>
<% end %>

  </div>
</div>



