<%= render 'shared/header' %>

<div class="body-content">
  <div class="container-fluid main-content">
    <h2 class="h2">会員編集ページ</h2>
    <div class="user-info">
      <h3 class="h3">会員情報</h3>

      <%= form_for(@user) do |f| %>
      <table class="table">
      <tbody>

        <tr>
          <div class="field">
            <td><%= f.label :name, "お名前(姓名)" %></td>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "regist-box" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td><%= f.label :name_kana, "お名前(フリガナ)" %></td>
            <td><%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana", class: "regist-box" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td><%= f.label :post_code, "郵便番号" %></td>
            <td><%= f.text_field :post_code, autofocus: true, autocomplete: "post_code", class: "regist-box" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td><%= f.label :address, "住所" %></td>
            <td><%= f.text_area :address, autofocus: true, autocomplete: "address", class: "address-box" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td><%= f.label :phone, "電話番号" %></td>
            <td><%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "regist-box" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "regist-box" %></td>
          </div>
        </tr>
      </div>
      </tbody>
    </table>
      <div class="actions user-update">
        <%= f.submit "更 新", class:"btn btn-info btn-lg btn-block" %>
      </div>
    <% end %>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>