<!-- ユーザー 一覧 管理者用-->
<%= render 'shared/header' %>

<div class="search"></div><!-- 検索フォーム -->

<div class="body-content">
  <div class="container-fluid">
    <h2 class="h2">ユーザー 一覧</h2>
    <div class="row main-content">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>お名前</th>
                <th>フリガナ</th>
                <th>郵便番号</th>
                <th>住所</th>
                <th>電話番号</th>
                <th>メールアドレス</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.name_kana %></td>
                <td><%= user.post_code %></td>
                <td><%= user.address %></td>
                <td><%= user.phone %></td>
                <td><%= user.email %></td>
                <td><%= link_to "詳細", user_path(user), class: "btn btn-success btn-sm" %></td>
                <td><%= link_to "編集", edit_user_path(user), class: "btn btn-info btn-sm" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
    </div>
  </div>
</div>