<!-- マイページ -->
<%= render 'shared/header' %>

<div class="body-content">
  <div class="container-fluid main-content">
    <h2 class="h2">マイページ</h2>
    <div class="row">
      <div class="col-sm-4">
        <div>
          <h3 class="h3">会員情報</h3>
          <table class="table">
            <tbody>
              <tr>
                <td>お名前</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>フリガナ</td>
                <td><%= @user.name_kana %></td>
              </tr>
              <tr>
                <td>郵便番号</td>
                <td><%= @user.post_code %></td>
              </tr>
              <tr>
                <td>住所</td>
                <td><%= @user.address %></td>
              </tr>
              <tr>
                <td>電話番号</td>
                <td><%= @user.phone %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= @user.email %></td>
              </tr>
            </tbody>
          </table>
          <div class="button-area">
            <%= link_to "編集する", edit_user_path(@user), class: "btn btn-info btn-lg user-button" %>
          </div>
          <div class="button-area">
            <%= link_to "退会する", user_path(@user), method: :delete, class: "btn btn-danger btn-lg user-button" %>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="user-orders">
          <h3 class="h3">注文履歴</h3>
          <% if  @orders.present? %>
           <table class="table">
            <thead>
              <tr>
                <th></th><!-- 画像 -->
                <th>注文日</th>
                <th>商品名</th>
                <th>金額</th>
                <th>ステータス</th>
                <th></th><!-- 詳細ボタン -->
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
              <tr>
                <td><%= attachment_image_tag order.order_items.first.item, :item_image, :fill, 30, 30, fallback: "noimage.png", size: '30x30' %></td>
                <td><%= order.order_items.first[:created_at].strftime("%Y/%m/%d") %></td>

                <td><%= order.order_items.first.item.title %></td>
                <td><%= order.order_items.last.total_price %></td>
                <td><%= order.status_i18n %></td>
                <td><%= link_to "詳細", order_path(order), class: "btn btn-default btn-xs" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <% else %>
           <p>ご注文履歴がありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
