
<footer>
  <div class="container-fluid footer-wrapper">
    <div class="row footer-content">
      <div class="col-sm-6 footer-left">
        <div class="contact-boxes">
          <div class="contact-box footer-logo"></div><!-- ロゴ画像 -->
          <div class="contact-box">
            <span class="contact address">〒000-0000<br>ｘｘ市ｘｘ区ｘｘ町0-0</span>
            <span class="contact mail">Mail：ｘｘｘ＠ｘｘ.ｘｘ</span>
            <span class="contact tell">Tell：000-000-0000</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 footer-right">
        <div class="">
          <ul class="footer-list">
            <%= link_to "ホーム", items_path, class:"footer-list-item" %><br>
            <%= link_to "当サイトについて", aboute_path, class:"footer-list-item" %><br>
            <%= link_to "お支払方法について", payment_path, class:"footer-list-item" %><br>
            <%= link_to "送料について", delivery_path, class:"footer-list-item" %><br>
            <%= link_to "返品について", return_path, class:"footer-list-item" %><br>
            <%= link_to "特定商取引法に基づく表記", tokutei_path, class:"footer-list-item" %><br>
            <%= link_to "プライバシーポリシー", privacy_path, class:"footer-list-item" %><br>
            <%= link_to "お問い合わせ", new_contact_path, class:"footer-list-item" %>
        </div>
      </div>
      <p class="copyright">©Berry京都.</p>
    </div>
  </div>
</footer>