<%= render 'shared/header' %>
<div class="body-content">
  <%if flash[:notice] %><p id="notice"><%= flash[:notice] %></p><% end %>
	<div class="container-fluid main-content">
    <h2 class="oa">お問い合わせ</h2>

  <div class="blue-box-c">
    <div class="blue-content">
      <p>当サイトに対するご意見ご要望、ご質問など、こちらのフォームよりお気軽にお問い合わせください。</p>
    </div>
  </div>
    <div class="row">
    	<div class="content">
        <%= form_for(@contact) do |f| %>
          <table class="table">
            <tbody>
              <tr>
                <td>お名前(2文字以上)</td>
                <td><%= f.text_field :name, class: "c-form-box" %></td>
              </tr>
              <tr>
                <td>電話番号（任意）</td>
                <td><%= f.text_field :phone, class: "c-form-box" %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= f.email_field :email, class: "c-form-box" %></td>
              </tr>
              <tr>
                <td>お問い合わせタイトル</td>
                <td class="ot"><%= f.text_field :title, :size =>"30", class: "c-form-box" %></td>
              </tr>
              <tr>
                <td>お問い合わせ内容</td>
                <td class="on"><%= f.text_area :body, :size =>"30x10", class: "c-form-box-on" %></td>
              </tr>
            </tbody>
          </table>
          <div class="contact-button-box">
            <%= f.submit "送 信", class:"btn btn-primary btn-lg contact-button" %>
          </div>
          <% end %>
      </div>
 	</div>
 </div>
</div>

<%= render 'shared/footer' %>
