
<p><%= @contact.name %></p>
<p><%= @contact.phone %></p>
<p><%= @contact.email %></p>
<p><%= @contact.title %></p>
<p><%= @contact.body %></p>
<td><%= link_to "Destroy",contact_path(@contact), method: :delete ,data: { confirm: '削除しますか？' } %></td>