<%= form_for(@item) do |f| %>
<div class="field">
           <%= f.hidden_field :admin_id, :value => @admin %>

	<div class="field">
		<%= f.label :item_image_id, "イメージ" %>
		<%= f.attachment_field :item_image, placeholder: "画像のアップロード" %>
	</div>
	<div class="field">
		<%= f.label :title, "商品名" %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :singer, "アーティスト" %>
		<%= f.text_field :singer %>
	</div>
	<div class="field">
		<%= f.label :style, "シングル or アルバム" %>
		<%= f.select :style, Item.styles_i18n.invert %>
	</div>
	<div class="field">
		<%= f.label :label, "レーベル" %>
		<%= f.text_field :label %>
	</div>
	<div class="field">
		<%= f.label :anime, "アニメタイトル" %>
		<%= f.text_field :anime %>
	</div>
	<div class="field">
		<%= f.label :genre_id, "ジャンル" %>
		<%= f.collection_select(:genre_id, Genre.all, :id, :genre_name) %>
	</div>
	<div class="field">
		<%= f.label :comment, "商品説明" %>
		<%= f.text_area :comment %>
	</div>
	<div class="field">
		<%= f.label :age, "発売年月日" %>
		<%= f.text_field :age %>
	</div>
	<div class="field">
		<%= f.label :price, "価格" %>
		<%= f.number_field :price, min: 0 %>
	</div>
	<div class="field">
		<%= f.label :stock, "在庫数" %>
		<%= f.number_field :stock, min: 0 %>
	</div>
	<div id="records">
		<%= f.fields_for :records do |record| %>
			<%= render "items/shared/record_fields", { f: record, records: @records  }%>
		<% end %>
	<div id="links">
		<%= link_to_add_association 'add record',f, :records, partial: "items/shared/record_fields", render_options: {locals:{ records: @records }}%>
	</div>

 <div class="button-area">
          <%= f.submit "完了", class: "btn btn-info" %>
 </div>
</div>
<% end %>
