 <%= df.nested_fields_for :records, wrapper_tag: :div do |q| %>
	<tr>
		<td><%= q.label :record_name, "レコード" %></td>
		<td><%= q.text_field :record_name %></td>
	</tr>
			<%= q.hidden_field :id %>
	<%= q.fields_for :songs do |tf| %>
		<%= render partial: "items/shared/song_form", locals: {tf: tf } %>
	<% end %>
	<tr>
		<td><%= q.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %></td>
	</tr>
<% end %>
<%= df.add_nested_fields_link :records, 'Add record', class: 'btn btn-primary', role: 'button' %>
