<div class="field">
	<tr>
		<td><%= tf.label :song_number, "曲順" %></td>
		<td><%= tf.number_field :song_number, min: 1 %></td>

		<td><%= tf.label :song_name, "曲名" %></td>
		<td><%= tf.text_field :song_name %></td>

		<td><%= tf.label :song_time, "時間" %></td>
		<td><%= tf.text_field :song_time %></td>
	</tr>
			<%= tf.hidden_field :id %>
</div>