<!-- カート内商品一覧 -->
<%= render 'shared/header' %>

<div class="body-content">
  <% if  @cart_items.present? %>
    <div class="container-fluid main-content">
    <div class="process-box">
      <p class="process"><span class="red">カート</span>　→　配送先の入力・お支払い方法の設定　→　確認　→　完了</p>
    </div>
    <div class="">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>商品名</th>
            <th>価格</th>
            <th>数量</th>
            <th>変更</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :item_image, :fill, 50, 50, fallback: "noimage.png", size: '50x50' %></td>
            <td><%= cart_item.item.name %></td>
            <td>￥<%= cart_item.item.price %></td>
            <%=form_for(@cart_item) do |f|%>
              <td><%= f.select :quantity, @current_cart_item_array %>
              </td>
            <% end %>
            <td class="button-area">
              <%= link_to "変更 /", cart_items_path, :controller => "cart_items", :action => "update_quantity", :method => :put, class: "btn btn-info btn-xs" %>
              <%= link_to "削除", cart_items_path, method: :delete, class: "btn btn-default btn-xs" %>
            </td>
            <td>￥<%= cart_item.item.price * cart_item.item.quantity %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="total-box">
        <p class="total">商品合計　　￥<%= @total_price %></p>
      </div>
    </div>

    <div class="main-bottom">

        <%= link_to "買い物を続ける", cart_items_path, class: "btn btn-default btn-xs cart-button" %>
        <%= link_to "　レジに進む　", cart_items_path, class: "btn btn-danger btn-xs cart-button" %>

    </div>
  <% else %>
  <div class="container-fluid main-content">
    <div class="row">
    <p class="pbox">カートに商品がありません</p>
    <div class="main-bottom">
      <%= link_to "買い物を続ける", cart_items_path, class: "btn btn-primary btn-xs" %>
    </div>
    </div>
  </div>
  </div>
  <% end %>
</div>
