<!-- サイトトップ ユーザー用-->
<%= render 'shared/header' %>
<p class="kensaku">商品名・アーティスト名・アニメタイトルで検索できます。</p>
<div class="item-search">
  <%= form_tag items_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
        <p>
          <%= text_field_tag :search, params[:serch] %>
          <%= submit_tag "検索", :title => nil,:singer => nil,:anime => nil %>
        </p>
      <% end %>
</div><!-- 検索フォーム -->

<div class="body-content">
  <%if flash[:notice] %><p id="notice"><%= flash[:notice] %></p><% end %>
  <div class="container-fluid">
    <div class="row">
      <div class="main-content">
        <h2 class="h2">管理人の好きなアニメ、あるいはアニソン。そんな感じ</h2>
        <div class="item-index-top-box">
          <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item"><a href="/items"><%= image_tag 'top1.jpg', size: '960x350' %></a></div>
                <div class="item"><a href="/items"><%= image_tag 'top2.jpg', size: '960x350' %></a></div>
                <div class="item"><a href="/items"><%= image_tag 'top1.jpg', size: '960x350' %></a></div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
        <h2 class="h2">商品一覧</h2>
        <div class="main-box2 clearfix">
          <div class="flex">
            <% @items.each do |item| %>
                <div class="item-box-index">
                 <%= link_to (item_path(item.id)) do %>
                  <%= attachment_image_tag item, :item_image, :fill, 208, 208, fallback: "noimage.png", size: '208x208' %>
                  <% end %>
                  <div class="nakami-box">
                  <table>
                    <tbody class="nakami">
                      <tr>
                        <td><b>『<%=item.title%>』</b></td>
                      </tr>
                      <tr>
                        <td><%=item.singer%></td>
                      </tr>
                      <tr>
                      <td><%=item.anime%></td>
                      </tr>
                      <tr>
                    　<td>¥<%=item.price%>(税込)</td>
                      </tr>
                      <tr>
                      <% if item.stock == 0 %>
                      <td>売り切れ</td>
                      <% elsif item.stock < 10 %>
                      <td>残りわずか</td>
                      <% else %>
                      <td>在庫あり</td>
                      <% end %>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
             <% end %><!-- each挿入箇所 おわり-->
           </div>
        </div>
      </div>
      <!-- メインコンテンツ　おわり -->
    </div>
  </div>
</div>
<%= render 'shared/footer' %>