<!-- サイトトップ ユーザー用-->
<%= render 'shared/header' %>
<p class="kensaku">商品名・アーティスト名・アニメタイトルで検索できます。</p>
<div class="item-search">
  <%= form_tag items_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
        <p>
          <%= text_field_tag :search, params[:serch] %>
          <%= submit_tag "検索", :title => nil,:singer => nil,:anime => nil %>
        </p>
      <% end %>
</div><!-- 検索フォーム -->

<div class="body-content">
  <%if flash[:notice] %><p id="notice"><%= flash[:notice] %></p><% end %>
  <div class="container-fluid">
    <div class="row">
       <!-- サイドバー　はじまり -->
      <!-- <div class="col-sm-3 sidebar-content">
        <h2 class="h2">アニメから探す</h2>
        <div class="row sidebar-box">
          <div class="col-sm-6">
            <p>タイトル別</p>
            <ul class="sidebar-list">
              <li class="sidebar-list-item">ア行</li>
              <li class="sidebar-list-item">カ行</li>
              <li class="sidebar-list-item">サ行</li>
              <li class="sidebar-list-item">タ行</li>
              <li class="sidebar-list-item">ナ行</li>
              <li class="sidebar-list-item">ハ行</li>
              <li class="sidebar-list-item">マ行</li>
              <li class="sidebar-list-item">ヤ行</li>
              <li class="sidebar-list-item">ラ行</li>
              <li class="sidebar-list-item">ワ行</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <p>年代別</p>
            <ul class="sidebar-list">
              <li class="sidebar-list-item">2010年代</li>
              <li class="sidebar-list-item">2000年代</li>
              <li class="sidebar-list-item">1990年代</li>
              <li class="sidebar-list-item">1980年代</li>
              <li class="sidebar-list-item">1970年代</li>
              <li class="sidebar-list-item">1960年代</li>
            </ul>
          </div>
        </div>
        <h2 class="h2">アーティストから探す</h2>
        <div class="row sidebar-box">
          <div class="col-sm-6">
            <p>五十音</p>
            <ul class="sidebar-list">
              <li class="sidebar-list-item">ア行</li>
              <li class="sidebar-list-item">カ行</li>
              <li class="sidebar-list-item">サ行</li>
              <li class="sidebar-list-item">タ行</li>
              <li class="sidebar-list-item">ナ行</li>
              <li class="sidebar-list-item">ハ行</li>
              <li class="sidebar-list-item">マ行</li>
              <li class="sidebar-list-item">ヤ行</li>
              <li class="sidebar-list-item">ラ行</li>
              <li class="sidebar-list-item">ワ行</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <p>ｱﾙﾌｧﾍﾞｯﾄ</p>
            <ul class="sidebar-list">
              <li class="alphabet sidebar-list-item">A</li>
              <li class="alphabet sidebar-list-item">B</li>
              <li class="alphabet sidebar-list-item">C</li>
              <li class="alphabet sidebar-list-item">D</li>
              <li class="alphabet sidebar-list-item">E</li>
              <li class="alphabet sidebar-list-item">F</li>
              <li class="alphabet sidebar-list-item">G</li>
              <li class="alphabet sidebar-list-item">H</li>
              <li class="alphabet sidebar-list-item">I</li>
              <li class="alphabet sidebar-list-item">J</li>
              <li class="alphabet sidebar-list-item">K</li>
              <li class="alphabet sidebar-list-item">L</li>
              <li class="alphabet sidebar-list-item">M</li>
              <li class="alphabet sidebar-list-item">N</li>
              <li class="alphabet sidebar-list-item">O</li>
              <li class="alphabet sidebar-list-item">P</li>
              <li class="alphabet sidebar-list-item">Q</li>
              <li class="alphabet sidebar-list-item">R</li>
              <li class="alphabet sidebar-list-item">S</li>
              <li class="alphabet sidebar-list-item">T</li>
              <li class="alphabet sidebar-list-item">U</li>
              <li class="alphabet sidebar-list-item">V</li>
              <li class="alphabet sidebar-list-item">W</li>
              <li class="alphabet sidebar-list-item">X</li>
              <li class="alphabet sidebar-list-item">Y</li>
              <li class="alphabet sidebar-list-item">Z</li>
            </ul>
          </div>
        </div>
      </div> -->
       <!-- サイドバー　おわり -->
      <!-- メインコンテンツ　はじまり -->
      <div class="main-content">
        <h2 class="h2">管理人の好きなアニメ、あるいはアニソン。そんな感じ</h2>
        <div class="item-index-top-box">
          <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item"><a href="/items"><%= image_tag 'top1.jpg', size: '960x350' %></a></div>
                <div class="item"><a href="/items"><%= image_tag 'top2.jpg', size: '960x350' %></a></div>
                <div class="item"><a href="/items"><%= image_tag 'top1.jpg', size: '960x350' %></a></div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
        <h2 class="h2">商品一覧</h2>
        <div class="main-box2 clearfix">
          <div class="flex">
            <% @items.each do |item| %>
                <div class="item-box-index">
                 <%= link_to (item_path(item.id)) do %>
                  <%= attachment_image_tag item, :item_image, :fill, 200, 200, fallback: "noimage.png", size: '200x200'  %>
                  <% end %>
                  <div class="nakami-box">
                  <table>
                    <tbody class="nakami">
                      <tr>
                        <td><b>『<%=item.title%>』</b></td>
                      </tr>
                      <tr>
                        <td><%=item.singer%></td>
                      </tr>
                      <tr>
                      <td><%=item.anime%></td>
                      </tr>
                      <tr>
                    　<td>¥<%=item.price%></td>
                      </tr>
                      <tr>
                      <% if item.stock == 0 %>
                      <td>売り切れ</td>
                      <% else %>
                      <td>在庫あり</td>
                      <% end %>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
             <% end %><!-- each挿入箇所 おわり-->
           </div>
        </div>
      </div>
      <!-- メインコンテンツ　おわり -->
    </div>
  </div>
</div>
<%= render 'shared/footer' %>