<!-- 商品詳細 ユーザー用-->
<%= render 'shared/header' %>

<div class="body-content">
  <div class="container-fluid main-content">
    <div class="row main-top">
      <div class="col-sm-6">
        <div>
          <%= attachment_image_tag @item, :item_image_id %>
        </div>
      </div>
      <div class="col-sm-6 item-box-show">
        <div class="item-detail">
          <h2><%= @item.title %></h2>
          <p><%= @item.singer %></p>
          <p>¥<%= @item.price %></p>
        </div>
        <% if quantity == 0 %>
         <p>売り切れ</p>
         <% else %>
        <div class="cart-area">
          <span class="quantity">購入数</span>
            <%= form_for (@item) do |f| %>
            <%= f.select :quantity, @current_item_array %>枚
            <% end %> 
             <% end %>
          <div class="cart-button-area">
            <%= link_to "カートに入れる", class:"btn btn-info btn-lg btn-block cart-button", :controler => "cart_items", :action => "create", :method => :post %>
          </div>
        </div>
      </div>
    </div>
    <h2 class="h2">商品詳細</h2>
    <div class="row main-bottom">
      <div class="col-sm-6 left-box">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td>商品名</td>
              <td><%= @item.title %></td>
            </tr>
            <tr>
              <td>シングル/アルバム</td>
              <td><%= @item.style_i18n %></td>
            </tr>
            <tr>
              <td>アーティスト</td>
              <td><%= @item.singer %></td>
            </tr>
            <tr>
              <td>レーベル</td>
              <td><%= @item.label %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @item.genre_name %></td>
            </tr>
            <tr>
              <td>発売日</td>
              <td><%= @item.age %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 right-box">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td>商品説明</td>
              <td><%= simple_format(h(@item.comment)) %></td>
            </tr>
            <% @item.records.each do |record| %>
            <tr>
              <td>収録曲</td>
              <td><%= record.record_name%></td>
            </tr>
              <% record.songs.each do |song| %>
                <tr>
                  <td><%= song.song_name%></td>
                  <td><%= song.song_time%></td>
                  <td><%= song.song_number%></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>