<!-- 商品詳細 ユーザー用-->
<%= render 'shared/header' %>

<div class="body-content">
  <div class="container-fluid main-content">
    <div class="row main-top">
      <div class="col-sm-6">
        <div>
          <%= attachment_image_tag @item, :item_image, :fill, 400, 400, fallback: "noimage.png", size: '400x400' %>
        </div>
      </div>
      <div class="col-sm-6 item-box-show">
        <div class="item-detail">
          <p class="title detail1"><%= @item.title %></h2>
          <p class="singer detail2"><%= @item.singer %></p>
          <p class="price detail2">¥<%= number_with_delimiter(@item.price) %></p>
          <p class="stock detail2">
            <% if @item.stock > 10 %>
              在庫あり
            <% elsif @item.stock < 10 && @item.stock > 0 %>
              残りわずか
            <% elsif @item.stock == 0 %>
              売り切れ
            <% end %>
          </p>
        </div>
<!-- 購入ボタン　条件分岐 ここから-->
        <% if @item.stock == 0 %>
        <!-- カートに入れるボタンを非表示にする -->
        <% else %>

          <% if user_signed_in? %>

              <%= form_for (@cart_item) do |f| %>
              <div class="cart-area">
                <div class="item-show">
                  <% @cart_items.each do |cart_item| %>
                    <% if cart_item.item_id == @item.id %>
                      <p class="cart-notice">カートに同じ商品があります。<br>数量を変更する場合は、こちらから編集してください。</p>
                    <% end %>
                  <% end %>

                <% if @item.stock < 10 %>
                  <div class="item-show-buy">
                    購入数<%= f.select :quantity, @current_item_array %>枚
                  </div>
                <% else %>
                  <div class="item-show-buy">
                    購入数<%= f.select :quantity, @current_item_array %>枚
                  </div>
                <% end %>

                </div>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <div class="cart-button-area">
                    <%= f.submit "カートに入れる",class:"btn btn-info btn-lg cart-button" %>
                  </div>
                </div>
              <% end %>


          <% else %>

            <div class="cart-area">
              <p class="cart-notice">商品はログインしないと購入できません</p>
            </div>
          <% end %>

        <% end %>
<!-- 購入ボタン　条件分岐 ここまで-->

      </div>
    </div>
    <h2 class="h2">商品詳細</h2>
    <div class="row main-bottom">
      <div class="col-sm-6 left-box">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td class="col-sm-4">商品名</td>
              <td><%= @item.title %></td>
            </tr>
            <tr>
              <td>シングル/アルバム</td>
              <td><%= @item.style_i18n %></td>
            </tr>
            <tr>
              <td>アーティスト</td>
              <td><%= @item.singer %></td>
            </tr>
            <tr>
              <td>レーベル</td>
              <td><%= @item.label %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @item.genre.genre_name %></td>
            </tr>
            <tr>
              <td>発売日</td>
              <td><%= @item.age %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 right-box">

        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td>商品説明</td>
            </tr>
            <tr>
              <td><%= simple_format(h(@item.comment)) %></td>
            </tr>
          </tbody>
        </table>

        <% @item.records.each do |record| %>
          <p class="record-head">収録曲(<%= record.record_name %>)</p>

        <table class="table table-striped table-bordered">
          <tbody>
              <% record.songs.each do |song| %>
                <tr>
                  <td class="col-sm-1"><%= song.song_number%></td>
                  <td class="col-sm-8"><%= song.song_name%></td>
                  <td class="col-sm-3"><%= song.song_time%></td>
                </tr>
              <% end %>
          </tbody>
        </table>
        <% end %>


      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
